<div class="container container_centered page">
  <h1 class="page__heading">{{ pageTitle }}</h1>
  <ul class="menu">
    <li class="menu__item"><a class="menu__link" data-link="menu" href="/login" target="_blank">Login page</a></li>
    <li class="menu__item">
      <a class="menu__link" data-link="menu" href="/registration" target="_blank">Registration page</a>
    </li>
    <li class="menu__item"><a class="menu__link" data-link="menu" href="/profile" target="_blank">Profile page</a></li>
    <li class="menu__item">
      <a class="menu__link" data-link="menu" href="/profile-edit" target="_blank">Profile edit page</a>
    </li>
    <li class="menu__item">
      <a class="menu__link" data-link="menu" href="/profile-password" target="_blank">Profile change password page</a>
    </li>
    <li class="menu__item"><a class="menu__link" data-link="menu" href="/chat-list" target="_blank">Chat list page</a></li>
    <li class="menu__item"><a class="menu__link" data-link="menu" href="/404" target="_blank">404 page</a></li>
    <li class="menu__item"><a class="menu__link" data-link="menu" href="/500" target="_blank">500 page</a></li>
  </ul>
</div>
