<div class="page page_inner page_chat">
  {{> components/sidebar isChat=true userName="OlgaZH"}}
  {{> components/contacts name="Maria" avatarSrc="/images/avatar2.jpg"}}
  {{> components/chat  }}
</div>
