<div class='container container_centered page_error'>
  <img src='/images/logotype-mini.svg' alt='simple messenger' />
  <h1 class='page__heading'>500</h1>
  <h4 class='page__title'>we’ll fix it soon</h4>
  <a href='./chat-list.html' class='button button_primary button_md button_rounded page__button'>Go to chat</a>
</div>