<div class="page page_inner">
  {{> components/sidebar isProfile=true}}
  <div class="container">  
    {{> components/cardProfile
      avatarSrc="/images/user.jpg"
      userEmail="maria@gmail.com" 
      userLogin="MariaMI"
      userPhone="+7 (909) 123-45-67"
      userFirstName="Maria"
      userLastName="Ivanova"
      userChatName="MariaIvanova"}}
  </div>
</div>
