.chat {
  display: none;

  &__body {
    position: relative;
    height: 100%;
  }

  &__message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--grey);
  }

  @include create-mq($grid__bp-xl, 'min') {
    height: var(--app-height);
    display: block;
  }
}
