:root {
  --contacts-width: 360px;
}

.contacts {
  position: fixed;
  top: calc(var(--sidebar-size) + 5px);
  height: calc(var(--app-height) - var(--sidebar-size) - 15px);
  width: 100%;

  &__container {
    height: 100%;
    overflow-y: auto;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-top: 1px;
    border-top: var(--border-width) solid var(--light-grey1);
  }

  @include create-mq($grid__bp-md, 'min') {
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
  }

  @include create-mq($grid__bp-xl, 'min') {
    top: 0;
    left: auto;
    width: var(--contacts-width);
    height: var(--app-height);
    transform: none;
  }
}
