.contact {
  display: flex;
  align-items: center;
  gap: torem(16px);
  padding: torem(12px) torem(16px);
  background-color: var(--component-bg);
  transition: background-color var(--transition-duration) var(--transition-easing);

  &__title {
    display: block;
    margin-bottom: 4px;
  }

  &__avatar {
    // flex: 0 0 50px;
    flex-shrink: 0;
    flex-grow: 0;
  }

  &__info {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &_active,
  &:hover {
    background-color: var(--contact-active-bg);
  }
}
