.container {
  max-width: 100%;
  margin: 0 auto;
  padding-right: calc($gutter / 2) * 1px;
  padding-left: calc($gutter / 2) * 1px;

  @include create-mq($grid__bp-xl, 'min') {
    max-width: $container-width-xl;
  }

  &_fluid {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
