.ui-input {
  padding: 0 torem(8px);
  outline: none;
  box-shadow: none;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-xs);
  background: var(--input-bg);
  font-size: var(--font-size-base);
  line-height: 1;
  color: var(--color-text);
  text-align: left;

  &_sm {
    height: var(--input-sm);
  }

  &::placeholder {
    color: var(--color-placeholder);
  }
}
