<div class="avatar avatar_{{avatarSize}} {{#if class}}{{ class }}{{/if}}">
  <img src="{{avatarSrc}}" alt="avatar" class="avatar__image">
  {{#if userName}}
    <span class="avatar__title">{{ userName }}</span>
  {{/if}}
</div>
