<div class="contacts panel">
  <div class="contacts__container">
    {{> components/search class='contacts__search'}}
    <ul class="contacts__list">
      <li class="contacts__item contact">
        <div class="contact__avatar">
          {{> components/avatar avatarSrc=avatarSrc avatarSize="sm"}}
        </div>
        <div class="contact__info">
          <div class="contact__title title">{{name}}</div>
        </div>
      </li>
    </ul>
  </div>
</div>
