<div class="search {{#if class}}{{ class }}{{/if}}">
  <span class="search__button button button_icon">{{> components/iconBase class='search' size='sm' }}</span>
  <input type="text" class="ui-input search__input" placeholder="Search">
</div>
