<form class="form form_horizontal">
  <div class="form__row">
    <div class="form__wrapper">
      <input class="ui-input ui-input_sm" type='password' name="oldPassword" placeholder="Old password"/>
      <span class="button button_icon">{{> components/iconBase class='eye-close' size='sm' }}</span>
    </div>
      <span class="form__error"></span>
  </div>
  <div class="form__row">
    <div class="form__wrapper">
      <input class="ui-input ui-input_sm" type='password' name="newPassword" placeholder="New password"/>
      <span class="button button_icon">{{> components/iconBase class='eye-close' size='sm' }}</span>
    </div>
      <span class="form__error"></span>
  </div>
  <div class="form__row">
    <div class="form__wrapper">
      <input class="ui-input ui-input_sm" type='password' name="confirmNewPassword" placeholder="Confirm password"/>
      <span class="button button_icon">{{> components/iconBase class='eye-close' size='sm' }}</span>
    </div>
    <span class="form__error"></span>
  </div>
  <div class="card__footer">
    {{> components/button label="Change password" class="button button_primary button_md button_rounded"}}
    <button class="button button_link">Reset</button>
  </div>
</form>
