:root {
  line-height: var(--line-height-base);
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-normal);
  font-size: var(--font-size-base);
  font-optical-sizing: auto;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-base);
}
a {
  color: var(--base-color);
}
a:hover {
  color: var(--color-muted);
}
::selection {
  background-color: var(--light);
  color: var(--color-secondary);
}
