<h2>Login</h2>
<form id='loginForm'>
  <label for='username'>User name:</label>
  <input type='text' id='username' name='username' />
  <label for='password'>Password:</label>
  <input type='password' id='password' name='password' />
   {{> components/button label="Login"}}
</form>