<h2>Registration</h2>
<form id='registrationForm'>
  <label for='username'>User name:</label>
  <input type='text' id='username' name='username' />
  <label for='password'>Password:</label>
  <input type='password' id='password' name='password' />
  {{> components/button label="Registration"}}
</form>